

div div, button {
    display: block;
}

.title {
    color: black;
}

body {
    font-family: 'ClashGrotesk-Regular', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tasks-template {
    width: fit-content;
    padding: 20px;
    display: block;
    border: solid black 0.1px;
    border-radius: 10px;
    margin-left: 32px;
    background-color: azure;
}